

.div-button {
    display: flex;
    justify-content:center;
    margin-top: 150px;
}

#button {
    padding: 10px;
    font-family: Helvetica;
    font-size: 1em;
    font-weight: bold;
}

#button::before {
    content: "Pasa por encima ";
}

#button:hover {
    cursor: pointer;
    color: white;
    background-color: green;
}

#button:hover::before {
    display: none;
}

#button:hover::after {
    content: "¡Hecho!";
    visibility: visible;
}